<div class="grid-item item-m-8 item-l-7 feed-article-text">
  <a href="{{ article.url }}">
    <h2 class="font-size-mid font-bold margin-bottom-tiny">{{ article.title }}</h2>
    {{ article.excerpt }}
  </a>
</div>
<div class="grid-item item-m-4 item-l-5 feed-article-image-holder">
  <a href="{{ article.url }}">
    <img src="{{ article.image.src | img_url: '375x375', crop: 'center' }}">
  </a>
</div>
