<footer id="footer" class="padding-top-small padding-bottom-basic margin-top-basic">
  <div class="container">
    <div id="footer-row" class="grid-row justify-between">
      <div class="grid-item no-gutter item-s-12 grid-row justify-between margin-bottom-tiny">
        <div class="grid-item font-bold">APARTMENT25</div>

        <nav id="footer-nav" class="grid-item no-gutter grid-row">
          {% if collections.'men' != blank %}
          {% assign collection = collections.'men' %}
          {% assign border = 'border-1.svg' %}
          {% include 'nav-collection' %}
          {% endif %}

          {% if collections.'women' != blank %}
          {% assign collection = collections.'women' %}
          {% assign border = 'border-2.svg' %}
          {% include 'nav-collection' %}
          {% endif %}

          {% if collections.'life' != blank %}
          {% assign collection = collections.'life' %}
          {% assign border = 'border-3.svg' %}
          {% include 'nav-collection' %}
          {% endif %}

          <div class="grid-item">
            <span class="nav-item-holder">
              <a href="/blogs/news" class="font-bold font-condensed font-uppercase">Blog</a>
              {% include 'border-4.svg' %}
            </span>
          </div>

          <div class="grid-item">
            <span class="nav-item-holder">
              <a href="/cart" class="nav-cart-link">{% include 'nav-cart-count' %}<span class="font-bold font-condensed font-uppercase">Cart</span></a>
              {% include 'border-5.svg' %}
            </span>
          </div>
        </nav>
      </div>

      <div class="grid-item item-s-12 item-m-auto margin-bottom-tiny">
      {% if settings.contact_address_1 != blank %}
        <div class="font-bold">
          {{ settings.contact_address_1 }}
        </div>
      {% endif %}
      {% if settings.hours_week_1 != blank %}
        <div>
          {{ settings.hours_week_1 }}
        </div>
      {% endif %}
      {% if settings.hours_weekend_1 != blank %}
        <div>
          {{ settings.hours_weekend_1 }}
        </div>
      {% endif %}
      </div>

      {% if settings.contact_address_2 != blank %}
      <div class="grid-item item-s-12 item-m-auto margin-bottom-tiny">
        <div class="font-bold">
          {{ settings.contact_address_2 }}
        </div>
      {% if settings.hours_week_2 != blank %}
        <div>
          {{ settings.hours_week_2 }}
        </div>
      {% endif %}
      {% if settings.hours_weekend_2 != blank %}
        <div>
          {{ settings.hours_weekend_2 }}
        </div>
      {% endif %}
      </div>
      {% endif %}

      {% if settings.contact_email != blank %}
      <div id="footer-email-holder" class="grid-item item-s-12 item-m-auto flex-grow grid-column justify-between margin-bottom-tiny">
        <a href="mailto:{{ settings.contact_email }}" class="margin-bottom-tiny">{{ settings.contact_email }}</a>

        {% if settings.mailchimp_action != blank %}
          <form action="{{ settings.mailchimp_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <div class="expand">
              <input placeholder="email" type="email" name="EMAIL" id="mce-EMAIL">
              {% assign input = true %}
              {% include 'border-1.svg' %}
            </div>

            {%if settings.mailchimp_hidden != blank %}
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ settings.mailchimp_hidden }}" tabindex="-1" value=""></div>
            {% endif %}

            <button type="submit" class="font-uppercase font-bold font-condensed">Subscribe</button>
          </form>
        {% endif %}
      </div>
      {% endif %}

      <div id="footer-social-holder" class="grid-item item-s-12 item-m-auto grid-row align-items-end no-wrap padding-top-tiny">
        {% if settings.social_facebook != blank %}
          <a href="{{ settings.social_facebook }}"><img class="social-icon" src="{{ 'icon-facebook.svg' | asset_url }}"></a>
        {% endif %}
        {% if settings.social_twitter != blank %}
          <a href="https://twitter.com/{{ settings.social_twitter }}"><img class="social-icon" src="{{ 'icon-twitter.svg' | asset_url }}"></a>
        {% endif %}
        {% if settings.social_instagram != blank %}
          <a href="https://instagram.com/{{ settings.social_instagram }}"><img class="social-icon" src="{{ 'icon-instagram.svg' | asset_url }}"></a>
        {% endif %}
      </div>

    </div><!-- close #footer-row -->
  </div>
</footer>
