<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />
  {{ content_for_header }}
  {{ 'site.css' | asset_url | stylesheet_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' | script_tag }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <header id="header" class="padding-top-tiny padding-bottom-tiny">
    <h1 class="u-visuallyhidden">{{ shop.name }}</h1>
    <div class="container">
      <div class="grid-row justify-between align-items-start">
        <div class="grid-item">
          <a href="/"><img class="logo" src="{{ 'apt25-logo.svg' | asset_url }}"></a>
        </div>
        <div class="mobile-nav-toggle-holder">
          <div class="container">
            <div class="grid-row padding-top-tiny justify-end">
              <div class="grid-item">
                <div class="js-menu-toggle u-pointer font-bold font-condensed font-uppercase">Menu</div>
              </div>
            </div>
          </div>
        </div>
        <nav id="main-nav" class="grid-item no-gutter flex-grow">
          <div class="grid-row justify-end padding-bottom-small">
            {% if collections.'men' != blank %}
            {% assign collection = collections.'men' %}
            {% assign border = 'border-1.svg' %}
            {% include 'nav-collection' %}
            {% endif %}

            {% if collections.'women' != blank %}
            {% assign collection = collections.'women' %}
            {% assign border = 'border-2.svg' %}
            {% include 'nav-collection' %}
            {% endif %}

            {% if collections.'life' != blank %}
            {% assign collection = collections.'life' %}
            {% assign border = 'border-3.svg' %}
            {% include 'nav-collection' %}
            {% endif %}

            <div class="grid-item">
              <span class="nav-item-holder">
                <a href="/blogs/news" class="font-bold font-condensed font-uppercase">Blog</a>
                {% include 'border-4.svg' %}
              </span>
            </div>

            <div class="grid-item">
              <span class="nav-item-holder">
                <a href="/cart" class="nav-cart-link">{% include 'nav-cart-count' %}<span class="font-bold font-condensed font-uppercase">Cart</span></a>
                {% include 'border-5.svg' %}
              </span>
            </div>

          </div>

          {% if collections.'men' != blank %}
          {% assign collection = collections.'men' %}
          {% include 'nav-types' %}
          {% endif %}

          {% if collections.'women' != blank %}
          {% assign collection = collections.'women' %}
          {% include 'nav-types' %}
          {% endif %}

          {% if collections.'life' != blank %}
          {% assign collection = collections.'life' %}
          {% include 'nav-types' %}
          {% endif %}
        </nav>
      </div>
    </div>
    <nav id="mobile-nav">
      <div class="mobile-nav-toggle-holder">
        <div class="container">
          <div class="grid-row padding-top-tiny justify-end">
            <div class="grid-item">
              <div class="js-menu-toggle u-pointer font-bold font-condensed font-uppercase">Close</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="grid-row">
          {% assign mobile = true %}
          {% assign border = false %}

          {% if collections.'men' != blank %}
          {% assign collection = collections.'men' %}
          {% include 'nav-collection' %}
          {% endif %}

          {% if collections.'women' != blank %}
          {% assign collection = collections.'women' %}
          {% include 'nav-collection' %}
          {% endif %}

          {% if collections.'life' != blank %}
          {% assign collection = collections.'life' %}
          {% include 'nav-collection' %}
          {% endif %}

          {% assign mobile = false %}

          <div class="grid-item item-s-6">
            <div class="padding-bottom-small">
              <a href="/cart" class="nav-cart-link">{% include 'nav-cart-count' %}<span class="font-bold font-condensed font-uppercase">Cart</span></a>
            </div>
            <div>
              <a href="/blog" class="font-bold font-condensed font-uppercase">Blog</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  {{ content_for_layout }}

  <footer id="footer" class="padding-top-small padding-bottom-small margin-top-basic">
    <div class="container">
      <div id="footer-row" class="grid-row justify-between align-items-end">
        <div class="grid-item no-gutter item-s-12 grid-row justify-between">
          <div class="grid-item item-s-12 item-m-auto font-bold">
            APARTMENT25
            {% if settings.contact_address != blank %}
              <div>
                {{ settings.contact_address }}
              </div>
            {% endif %}
          </div>

          <nav id="footer-nav" class="grid-item item-s-12 item-m-auto no-gutter grid-row">
            {% if collections.'men' != blank %}
            {% assign collection = collections.'men' %}
            {% assign border = 'border-1.svg' %}
            {% include 'nav-collection' %}
            {% endif %}

            {% if collections.'women' != blank %}
            {% assign collection = collections.'women' %}
            {% assign border = 'border-2.svg' %}
            {% include 'nav-collection' %}
            {% endif %}

            {% if collections.'life' != blank %}
            {% assign collection = collections.'life' %}
            {% assign border = 'border-3.svg' %}
            {% include 'nav-collection' %}
            {% endif %}

            <div class="grid-item">
              <span class="nav-item-holder">
                <a href="/blogs/news" class="font-bold font-condensed font-uppercase">Blog</a>
                {% include 'border-4.svg' %}
              </span>
            </div>

            <div class="grid-item">
              <span class="nav-item-holder">
                <a href="/cart" class="nav-cart-link">{% include 'nav-cart-count' %}<span class="font-bold font-condensed font-uppercase">Cart</span></a>
                {% include 'border-5.svg' %}
              </span>
            </div>
          </nav>
        </div>

          <div class="grid-item item-s-12 item-m-4 item-l-5">
          {% if settings.hours_week != blank %}
            <div>
              {{ settings.hours_week }}{% if settings.hours_weekend != blank %}, {% endif %}
            </div>
          {% endif %}
          {% if settings.hours_weekend != blank %}
            <div>
              {{ settings.hours_weekend }}
            </div>
          {% endif %}
          </div>

          <div class="grid-item item-s-12 item-m-auto flex-grow">
          {% if settings.contact_email != blank %}
            <div>
              <a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a>
            </div>
          {% endif %}
          {% if settings.mailchimp_action != blank %}
            <form action="{{ settings.mailchimp_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <input placeholder="your email address" type="email" name="EMAIL" id="mce-EMAIL">

              {%if settings.mailchimp_hidden != blank %}
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ settings.mailchimp_hidden }}" tabindex="-1" value=""></div>
              {% endif %}

              <button type="submit" class="font-uppercase font-bold">Subscribe</button>
            </form>
          {% endif %}
          </div>

          <div id="footer-social" class="grid-item item-s-12 item-m-auto grid-row justify-end align-items-end no-wrap">
            {% if settings.social_facebook != blank %}
            <div class="grid-item no-gutter">
              <a href="{{ settings.social_facebook }}"><img class="social-icon" src="{{ 'icon-facebook.svg' | asset_url }}"></a>
            </div>
            {% endif %}
            {% if settings.social_twitter != blank %}
            <div class="grid-item no-gutter">
              <a href="https://twitter.com/{{ settings.social_twitter }}"><img class="social-icon" src="{{ 'icon-twitter.svg' | asset_url }}"></a>
            </div>
            {% endif %}
            {% if settings.social_instagram != blank %}
            <div class="grid-item no-gutter">
              <a href="https://instagram.com/{{ settings.social_instagram }}"><img class="social-icon" src="{{ 'icon-instagram.svg' | asset_url }}"></a>
            </div>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </footer>

  {{ 'library.js'  | asset_url | script_tag }}
  {{ 'main.js'  | asset_url | script_tag }}
</body>
</html>
