<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />
  {{ content_for_header }}
  {{ 'site.css' | asset_url | stylesheet_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' | script_tag }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <header id="header" class="padding-top-small padding-bottom-small">
    <h1 class="u-visuallyhidden">{{ shop.name }}</h1>
    <div class="container">
      <div class="grid-row justify-between align-items-start">
        <div class="grid-item">
          <a href="/"><img class="logo" src="{{ 'apt25-logo.svg' | asset_url }}"></a>
        </div>
        <nav id="main-nav" class="grid-item no-gutter flex-grow">
          <div class="font-uppercase grid-row font-heavy-condensed justify-end">
            {% if collections.'men' != blank %}
            {% assign collection = collections.'men' %}
            {% include 'nav-collection' %}
            {% endif %}

            {% if collections.'women' != blank %}
            {% assign collection = collections.'women' %}
            {% include 'nav-collection' %}
            {% endif %}

            {% if collections.'life' != blank %}
            {% assign collection = collections.'life' %}
            {% include 'nav-collection' %}
            {% endif %}

            <div class="grid-item">
              <a href="/blog">Blog</a>
            </div>

            <div class="grid-item">
              <a href="/cart">{% if cart.item_count > 0%}<span id="nav-cart-count" class="font-size-small">{{ cart.item_count }}</span> {% endif %}Cart</a>
            </div>

          </div>

          {% if collections.'men' != blank %}
          {% assign collection = collections.'men' %}
          {% include 'nav-types' %}
          {% endif %}

          {% if collections.'women' != blank %}
          {% assign collection = collections.'women' %}
          {% include 'nav-types' %}
          {% endif %}

          {% if collections.'life' != blank %}
          {% assign collection = collections.'life' %}
          {% include 'nav-types' %}
          {% endif %}
        </nav>
      </div>
    </div>
  </header>

  {{ content_for_layout }}

  <footer id="footer">
    <div class="container">
      <div class="grid-row justify-between">
        <div class="grid-item item-s-12 item-m-4">
        {% if settings.contact_address != blank %}
          <div class="font-bold">
            {{ settings.contact_address }}
          </div>
        {% endif %}
        {% if settings.hours_week != blank %}
          <div>
            {{ settings.hours_week }}{% if settings.hours_weekend != blank %}, {% endif %}
          </div>
        {% endif %}
        {% if settings.hours_weekend != blank %}
          <div>
            {{ settings.hours_weekend }}
          </div>
        {% endif %}
        </div>

        <div class="grid-item item-s-12 item-m-4">
        {% if settings.contact_email != blank %}
          <div>
            <a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a>
          </div>
        {% endif %}
        {% if settings.mailchimp_action != blank and settings.mailchimp_hidden != blank %}
          <form action="{{ settings.mailchimp_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
            <input placeholder="your email address" type="email" name="EMAIL" id="mce-EMAIL">

            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ settings.mailchimp_hidden }}" tabindex="-1" value=""></div>

            <button type="submit" class="font-uppercase font-bold">Subscribe</button>
          </form>
        {% endif %}
        </div>

        <div class="grid-item item-s-12 item-m-4 grid-row no-gutter">
          {% if settings.social_facebook != blank %}
          <div class="grid-item">
            <a href="{{ settings.social_facebook }}">F</a>
          </div>
          {% endif %}
          {% if settings.social_twitter != blank %}
          <div class="grid-item">
            <a href="https://twitter.com/{{ settings.social_twitter }}">T</a>
          </div>
          {% endif %}
          {% if settings.social_instagram != blank %}
          <div class="grid-item">
            <a href="https://instagram.com/{{ settings.social_instagram }}">I</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </footer>

  {{ 'library.js'  | asset_url | script_tag }}
  {{ 'main.js'  | asset_url | script_tag }}
</body>
</html>
