{% assign dash = '&nbsp;&nbsp;&mdash;&nbsp;&nbsp;' %}

<article class="container">
  <div class="grid-row justify-center">
    <div class="grid-item offset-m-1 item-s-12 item-m-6">
      <div class="single-post-details margin-bottom-basic">
        <span class="date font-size-small font-condensed">{{ article.published_at | date: '%b %e, %Y' }}</span>
        <h1 class="article-title margin-bottom-small font-size-extra font-bold">
          {{ article.title }}
        </h1>
        <p>
          {{ article.excerpt }}{{ dash }}
          {% if article.tags contains 'lookbook' %}
            <img class="blog-icon eye" src="{{ 'eye.svg' | asset_url }}">
          {% else %}
            <img class="blog-icon tack" src="{{ 'thumb-tack.svg' | asset_url }}">
          {% endif %}
        </p>
      </div>
    </div>
  </div>

  <div class="article-content grid-row justify-center margin-bottom-basic">

    {% comment %} LOOKBOOK {% endcomment %}
    {% if article.tags contains 'lookbook' or article.tags contains 'lookbook-style'%}

      <div class="grid-item grid-row justify-end item-s-12 item-m-9">

        {% comment %} Get the paragraphs as an array, we would use it 4 outputing only the ones without images {% endcomment %}
        {% assign paragraphs = article.content | split: '<p>' %}
          {% assign paragraphs_size = paragraphs.size | minus: 1 %}

        {% if article.content contains "<img" %}

          {% comment %} Get the images as an array {% endcomment %}
          {% assign gallery-src = article.content | split: 'src="' %}
          {% assign gallery-size = gallery-src.size | minus: 1 %}

          {% comment %} Iterate thru all images {% endcomment %}
          {% for i in (1..gallery-size) %}
            {% assign src = gallery-src[i] | split: '"' | first  %}
            <div class="grid-item item-s-12 item-m-6 margin-bottom-mid">
              <img class="lookbook-image" src="{{src}}">
            </div>
          {% endfor %}

          {% comment %} Iterate thru all paragraphs {% endcomment %}
          {% for i in (1..paragraphs_size) %}

            {% comment %} Only output paragraphs without images {% endcomment %}
            {% if  paragraphs[i] contains "<img" %}
            {% else %}
              <p>{{ paragraphs[i] }}</p>
            {% endif %}

          {% endfor %}
        {% endif %}
      </div>

    {% else %}

    {% comment %} ARTICLE {% endcomment %}

      <div class="grid-item offset-m-1 item-s-12 item-m-6">
        <div class="type-post-content">
          {{ article.content }}
        </div>
      </div>

    {% endif %}

  </div>

  <div class="grid-row justify-center">
    <div class="single-post-footer grid-item offset-m-1 item-s-12 item-m-6">
      <p class="post-tags">
        <span class="font-bold font-condensed">TAGGED:&emsp;</span>
        {% for tag in article.tags %}
          {% unless tag == 'lookbook-style' %}
          <a href="{{ blog.url }}/tagged/{{ tag }}" rel="tag">{{ tag }}</a>{% if forloop.last != true %},{% endif %}
          {% endunless %}
        {% endfor %}
      </p>
      <p class="post-share">
        <span class="font-bold font-condensed">SHARE:&emsp;</span>
        <a href="https://twitter.com/home?status={{ article.title | url_encode }}%20via%20%40apt25mx%20{{ shop.url }}{{ article.url }}"><img class="social-icon" src="{{ 'icon-twitter.svg' | asset_url }}"></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}"><img class="social-icon" src="{{ 'icon-facebook.svg' | asset_url }}"></a>
      </p>
    </div>
  </div>

  {% include 'related-articles' %}

</article>
