{% assign dash = '&nbsp;&nbsp;&mdash;&nbsp;&nbsp;' %}

{% paginate blog.articles by 12 %}
<section id="blog">
  <div class="container">
    <div class="grid-row">
      {% for article in blog.articles %}
        <article class="grid-item item-s-12 item-sm-6 item-m-4 item-xl-3 margin-bottom-basic">
          {% if article.image %}
          {% assign image = article.image %}
          <div>
            <a href="{{ article.url }}">
              <img class="margin-bottom-tiny" src="{{ image.src | img_url: '465x465', crop: 'center' }}" alt="{{ article.title | escape }}" />
            </a>
          </div>
          {% endif %}
          <div>
            <h2 class="font-size-mid font-bold">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h2>
            <span class="date font-size-small font-condensed">{{ article.published_at | date: '%b %e, %Y' }}</span>
            <p class="margin-top-micro margin-bottom-tiny">{{ article.excerpt }}{{ dash }}
              {% if article.tags contains 'lookbook' %}
                <img class="blog-icon eye" src="{{ 'icon-look.svg' | asset_url }}">
              {% else %}
                <img class="blog-icon tack" src="{{ 'icon-news.svg' | asset_url }}">
              {% endif %}
            </p>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>

{% if paginate.pages > 1 %}
<nav id="pagination">
  <div class="container grid-row justify-center">
    <div class="grid-item item-s-12 item-l-9 item-xl-7">
      {% include 'pagination' %}
    </div>
  </div>
</nav>
{% endif %}
{% endpaginate %}
