{% assign dash = '&nbsp;&nbsp;&mdash;&nbsp;&nbsp;' %}

{% paginate blog.articles by 10 %}
<section id="blog">
  <div class="container">
    <div class="grid-row">
      {% for article in blog.articles %}
        {% if article.tags contains 'lookbook' %}
        <article class="grid-item item-s-12 no-gutter margin-bottom-mid">
          {% if article.image %}
          {% assign image = article.image %}
          <div class="grid-row justify-center">
            <div class="grid-item item-s-12 item-l-9 item-xl-7 text-align-center">
              <a href="{{ article.url }}">
                <img src="{{ image.src | img_url: '479x200', crop: 'center' }}" alt="{{ article.title | escape }}"
                srcset="
                {{ image.src | img_url: '479x200', crop: 'center' }} 479w
                {% if image.width > 689 %},{{ image.src | img_url: '690x287', crop: 'center' }} 690w{% endif %}
                {% if image.width > 743 %},{{ image.src | img_url: '768x310', crop: 'center' }} 744w{% endif %}
                {% if image.width > 1025 %},{{ image.src | img_url: '1026x426', crop: 'center' }} 1026w{% endif %}
                "
                sizes="
                (max-width: 499px)479px,
                (max-width: 719px)690px,
                (max-width: 1365px)744px,
                1026px
                "
                width="{{ image.width }}"
                />
              </a>
            </div>
          </div>
          {% endif %}
          <div class="grid-row justify-center">
            <div class="grid-item item-s-12 item-m-6 item-l-4 item-xl-3">
              <h2>
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h2>
              <span class="date">{{ article.published_at | date: '%b %e, %Y' }}</span>
            </div>
            <div class="grid-item item-s-12 item-m-6 item-l-4 item-xl-3">
              <p>{{ article.excerpt }}{{ dash }}<a href="{{ blog.url }}"><img class="blog-icon" src="{{ 'icon-look.svg' | asset_url }}"></a></p>
            </div>
          </div>
        </article>
        {% else %}
        <article class="grid-item item-s-12 no-gutter margin-bottom-mid">
          <div class="grid-row justify-center">
            {% if article.image %}
            {% assign image = article.image %}
            <div class="grid-item item-s-12 item-m-6 item-l-4 item-xl-3">
              <a href="{{ article.url }}">
                <img class="margin-bottom-tiny" src="{{ image.src | img_url: '465x465', crop: 'center' }}" alt="{{ article.title | escape }}" />
              </a>
            </div>
            {% endif %}
            <div class="grid-item item-s-12 item-m-6 item-l-4 item-xl-3">
              <span class="date">{{ article.published_at | date: '%b %e, %Y' }}</span>
              <h2 class="margin-bottom-tiny">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h2>
              <p class="margin-bottom-tiny">{{ article.excerpt }}{{ dash }}<img class="blog-icon" src="{{ 'icon-news.svg' | asset_url }}"></p>
            </div>
          </div>
        </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% if paginate.pages > 1 %}
<!-- post pagination -->
<nav id="pagination">
  <div class="container">
    <div class="grid-row">
      <div class="grid-item item-s-6">
        {% if paginate.previous.is_link %}
          <a href="{{ paginate.previous.url }}">
            <img class="logo" src="{{ 'arrow-left.svg' | asset_url }}">
          </a>
        {% endif %}
      </div>
      <div class="grid-item item-s-6 text-align-right">
        {% if paginate.next.is_link %}
          <a href="{{ paginate.next.url }}">
            <img class="logo" src="{{ 'arrow-right.svg' | asset_url }}">
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% endif %}
{% endpaginate %}
