<section id="cart">
  <div class="container">
    {% if cart.item_count > 0 %}
    <form action="/cart" method="post" id="cart" class="cart">

      <div class="grid-row">
        {% for item in cart.items %}
        <div id="cart-item-{{item.variant.id}}" class="cart-item grid-item item-s-12 no-gutter grid-row align-items-end margin-bottom-small">
          <div class="grid-item item-s-2 item-m-3 offset-m-0 item-l-2 offset-l-1">
            <a href="{{ item.product.url }}">
              {% if item.variant.image != blank %}
                <img src="{{ item.variant.image | img_url: '300x300' }}" alt="{{ item.title | escape }}" />
              {% else %}
                <img src="{{ item.image | img_url: '300x300' }}" alt="{{ item.title | escape }}" />
              {% endif %}
            </a>
          </div>
          <div class="grid-item item-s-7 item-m-6">
            <div class="item remove margin-bottom-tiny"><a href="/cart/change/{{item.variant.id}}?quantity=0"><img class="icon-remove" src="{{ 'icon-remove.svg' | asset_url }}" title="Remove Item"></a></div>
            <div class="item title margin-bottom-micro"><a href="{{ item.product.url }}">{{ item.title }}</a></div>
            <div class="font-bold margin-bottom-micro font-size-mid">{{ item.vendor }}</div>
            <div>
              <input type="text" size="4" pattern="[0-9]*" name="updates[{{item.variant.id}}]" id="quantity-{{ item.variant.id }}" class="form-element quantity" value="{{ item.quantity }}" min="1" onfocus="this.select();"/>
              <span class="font-size-small">&emsp;X&emsp;</span>
              {{ item.price | money }}
            </div>
          </div>
          <div class="grid-item item-s-3 item-m-3 item-l-2 text-align-right font-bold price">{{ item.line_price | money }}</div>
        </div>
        {% endfor %}
      </div>

      <div class="grid-row margin-bottom-small margin-top-small align-items-center">
        <div class="grid-item item-s-4 offset-s-2 item-m-6 offset-m-3 item-l-2 offset-l-3 grid-row">
          <input class="button form-element item-s-12" type="submit" id="update-cart" name="update" value="Update" title="Update Cart" />
        </div>
        <div class="grid-item item-s-6 item-m-3 item-l-6 text-align-right font-bold">Subtotal: {{ cart.total_price | money }}</div>
      </div>

      <div class="grid-row">
        <div class="grid-item item-s-12 item-m-6 offset-m-6 item-l-2 offset-l-9 text-align-right grid-row">
          <input class="button form-element item-s-12" type="submit" name="checkout" value="Checkout" />
        </div>
      </div>

    </form>
    {% else %}
    <p>Your cart is empty!</p>
    {% endif %}
  </div>
</section>
