<section id="collection">
  <div class="container">
    <div class="grid-row">

{% paginate collection.products by 24 %}

{% if collection.all_products_count > 0 %}

  {% if collection.url != blank %}

      <div class="grid-item item-s-12 item-m-auto grid-row no-gutter align-content-start">
        <div class="grid-item item-s-6 item-m-12 margin-bottom-tiny">
          <h3 class="font-bold font-uppercase font-size-small">Type</h3>
          <ul>
          {% for product_type in collection.all_types %}
          <li>
            <a href="{{ collection.url }}/{{ product_type | handle }}">{{ product_type }}</a>
          </li>
          {% endfor %}
          </ul>
        </div>

        <div class="grid-item item-s-6 item-m-12">
          <h3 class="font-bold font-uppercase font-size-small">Brand</h3>
          <ul>
          {% for product_vendor in collection.all_vendors %}
            <li>
          		<a href="{{ collection.url }}/{{ product_vendor | handle }}">{{ product_vendor }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

  {% endif %}

      <div class="grid-item flex-grow no-gutter grid-row">
  {% for product in collection.products %}

        <div class="grid-item item-s-6 item-l-4 item-xl-3 font-size-small">

          <a href="{{ product.url }}">
            <div class="text-align-center"><img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" /></div>
            <div class="font-bold font-size-basic">{{ product.vendor }}</div>
            <h2 class="u-inline-block">{{ product.title }}</h2> &mdash;{% if product.compare_at_price > product.price %} <span class="u-inline-block font-line-through">{{ product.compare_at_price | money_without_trailing_zeros }}</span>{% endif %} <span class="u-inline-block">{{ product.price | money_without_trailing_zeros }}</span>
          </a>

        </div>

  {% endfor %}


      {% if paginate.pages > 1 %}
        <div class="grid-item item-s-12 no-gutter grid-row">
          <div class="grid-item item-s-6">
          {% if paginate.previous.is_link %}
            <a href="{{ paginate.previous.url }}"><-</a>
          {% endif %}
          </div>
          <div class="grid-item item-s-6 text-align-right">
          {% if paginate.next.is_link %}
            <a href="{{ paginate.next.url }}">-></a>
          {% endif %}
          </div>
        </div>
      {% endif %}

      </div>

{% else %}

      <div class="grid-item item-s-12">
        <p>Sorry, there are no products in this collection</p>
      </div>

{% endif %}

    </div>
  </div>
</section>

{% endpaginate %}
