<section id="collection">
  <div class="container">
    <div id="collection-row" class="grid-row">

{% paginate collection.products by 2 %}

{% if collection.all_products_count > 0 %}

      <div id="collection-filters" class="grid-item item-s-12 item-m-auto grid-row no-gutter align-content-start padding-bottom-small">
        <div class="grid-item item-s-6 item-m-12 margin-bottom-tiny">
          {% comment %}Types List{% endcomment %}
          <h3 class="font-bold font-uppercase font-size-small">Type</h3>
          <ul>
          {% for product_type in collection.all_types %}
          <li>
            <a href="{{ collection.url }}/{{ product_type | handle }}">{{ product_type }}</a>
          </li>
          {% endfor %}
          </ul>
        </div>
        {% comment %}Brands List{% endcomment %}
        <div class="grid-item item-s-6 item-m-12">
          <h3 class="font-bold font-uppercase font-size-small">Brand</h3>
          <ul>
          {% for product_vendor in collection.all_vendors %}
            <li>
              <a href="{{ collection.url }}/{{ product_vendor | handle }}">{{ product_vendor }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

      <div class="grid-item flex-grow no-gutter grid-row">

        {% comment %}Breadcrumbs{% endcomment %}
        <div class="grid-item item-s-12 font-bold font-size-small font-uppercase margin-bottom-small">
          {% if current_tags != blank %}
          <a href="{{ collection.url }}">{{ collection.handle }}</a> &mdash; {{ current_tags }}
          {% else %}
          {{ collection.handle }}
          {% endif %}
        </div>

  {% for product in collection.products %}
        {% comment %}Product{% endcomment %}
        <div class="collection-product-item grid-item item-m-4 item-l-4 item-xl-3 font-size-small margin-bottom-small">

          <a href="{{ product.url }}">
            <div class="text-align-center">
              {% assign image = product.featured_image %}
              <img src="{{ image.src | img_url: '240x' }}" alt="{{ product.title | escape }}"
              srcset="
              {% if image.width > 240 %}{{ image.src | img_url: '240x' }} 240w{% endif %}
              {% if image.width > 310 %},{{ image.src | img_url: '310x' }} 310w{% endif %}
              {% if image.width > 370 %},{{ image.src | img_url: '370x' }} 370w{% endif %}
              "
              sizes="(min-width: 1280px) 370px, (min-width: 1024px) 310px, (min-width: 720px) 240px, 50vw"
              />
            </div>
            <div class="font-bold font-size-basic">{{ product.vendor }}</div>
            <h2 class="u-inline-block">{{ product.title }}</h2>
            <div>
              {% if product.compare_at_price > product.price %}<span class="u-inline-block font-line-through">{{ product.compare_at_price | money_without_trailing_zeros }}</span> {% endif %}<span class="u-inline-block">{{ product.price | money_without_trailing_zeros }}</span>
            </div>
          </a>

        </div>
  {% endfor %}

      {% if paginate.pages > 1 %}
      <div class="grid-item no-gutter item-s-12">
        {% include 'pagination' %}
      </div>
      {% endif %}

      </div>

    </div>

{% else %}
    <div class="grid-row">
      <div class="grid-item item-s-12">
        <p>Sorry, there are no products in this collection</p>
      </div>
    </div>

{% endif %}

  </div>
</section>

{% endpaginate %}
