<section id="collection">
  <div class="container">
    <div id="collection-row" class="grid-row">

{% paginate collection.products by 24 %}

{% if collection.all_products_count > 0 %}

      <div class="grid-item item-s-12 item-m-auto grid-row no-gutter align-content-start">
        <div class="grid-item item-s-6 item-m-12 margin-bottom-tiny">
          {% comment %}Types List{% endcomment %}
          <h3 class="font-bold font-uppercase font-size-small">Type</h3>
          <ul>
          {% for product_type in collection.all_types %}
          <li>
            <a href="{{ collection.url }}/{{ product_type | handle }}">{{ product_type }}</a>
          </li>
          {% endfor %}
          </ul>
        </div>
        {% comment %}Brands List{% endcomment %}
        <div class="grid-item item-s-6 item-m-12">
          <h3 class="font-bold font-uppercase font-size-small">Brand</h3>
          <ul>
          {% for product_vendor in collection.all_vendors %}
            <li>
              <a href="{{ collection.url }}/{{ product_vendor | handle }}">{{ product_vendor }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

      <div class="grid-item flex-grow no-gutter grid-row">

        {% comment %}Breadcrumbs{% endcomment %}
        <div class="grid-item item-s-12 font-bold font-size-small font-uppercase">
          {% if current_tags != blank %}
          <a href="{{ collection.url }}">{{ collection.handle }}</a> &mdash; {{ current_tags }}
          {% else %}
          {{ collection.handle }}
          {% endif %}
        </div>

  {% for product in collection.products %}
        {% comment %}Product{% endcomment %}
        <div class="grid-item item-s-6 item-m-4 item-l-4 item-xl-3 font-size-small">

          <a href="{{ product.url }}">
            <div class="text-align-center">
              {% assign image = product.featured_image %}
              <img src="{{ image.src | img_url: '480x' }}" alt="{{ image.alt | escape }}"
              srcset="
              {% if image.width > 640 %}{{ image.src | img_url: '640x' }} 640w{% endif %}
              {% if image.width > 720 %},{{ image.src | img_url: '720x' }} 720w{% endif %}
              {% if image.width > 320 %},{{ image.src | img_url: '320x' }} 320w{% endif %}
              {% if image.width > 390 %},{{ image.src | img_url: '390x' }} 390w{% endif %}
              "
              sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw"
              />
            </div>
            <div class="font-bold font-size-basic">{{ product.vendor }}</div>
            <h2 class="u-inline-block">{{ product.title }}</h2> &mdash;{% if product.compare_at_price > product.price %} <span class="u-inline-block font-line-through">{{ product.compare_at_price | money_without_trailing_zeros }}</span>{% endif %} <span class="u-inline-block">{{ product.price | money_without_trailing_zeros }}</span>
          </a>

        </div>

  {% endfor %}

      {% comment %}Pagination{% endcomment %}
      {% if paginate.pages > 1 %}
        <div class="grid-item item-s-12 no-gutter grid-row">
          <div class="grid-item item-s-6">
          {% if paginate.previous.is_link %}
            <a href="{{ paginate.previous.url }}"><-</a>
          {% endif %}
          </div>
          <div class="grid-item item-s-6 text-align-right">
          {% if paginate.next.is_link %}
            <a href="{{ paginate.next.url }}">-></a>
          {% endif %}
          </div>
        </div>
      {% endif %}

      </div>

{% else %}

      <div class="grid-item item-s-12">
        <p>Sorry, there are no products in this collection</p>
      </div>

{% endif %}

    </div>
  </div>
</section>

{% endpaginate %}
